<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Extensions.CognitoAuthentication" version="2.2.4" targetFramework="net471" />
  <package id="AWSSDK.CognitoIdentity" version="3.7.100.58" targetFramework="net471" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.7.0.2" targetFramework="net471" />
  <package id="AWSSDK.Core" version="3.7.103.20" targetFramework="net471" />
  <package id="AWSSDK.Kinesis" version="3.7.101.21" targetFramework="net471" />
  <package id="AWSSDK.SecurityToken" version="3.7.100.58" targetFramework="net471" />
</packages>